/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HUScribble130";
  src: url("./font/HUScribble130.otf");}

@font-face{
  font-family: "HUScribble130";
  src: url("./font/HUScribble130.otf");
  font-weight: normal;
  font-style: normal;
} */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nanum-Gothic-Coding";
  src: url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400');
}

@font-face{
  font-family: "HUScribble130";
  src: url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400');
  font-weight: normal;
  font-style: normal;
}

